body {
  font-family: "ID Grotesk";
}

.header {
  background-color: orange;
  padding: 50px;
  border-radius: 20px;
  margin-left: 5px;
}

#h1,
a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-align: center;
}

#img-1 {
  height: 18px;
  position: absolute;
  top: 60px;
  color: #fff;
}