@media screen and (max-width: 320px) {
  .header {
    padding: 22px;
    text-align: center;
  }
  #img-1 {
    position: absolute;
    top: 29px;
  }
  #menuIcon {
    height: 27px;
  }
  #menuList {
    background-color: rgb(2, 16, 55);
    color: white;
    position: absolute;
    top: -2px;
    margin-top: 0;
    left: 0;
    width: 275px;
    height: 255px;
  }
  ul,
  li {
    list-style: none;
    color: white;
  }
  #aa {
    color: white;
    margin-left: -33px;
    font-weight: 200;
  }

  #h {
    text-align: center;
    font-size: 28px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  #h1-1 {
    font-size: 21px;
    text-align: center;
    margin-top: 66px;
    font-weight: 300;
  }
  .main {
    display: flex;
    margin-top: 55px;
  }
  #btn-1 {
    font-family: "ID Grotesk";
    background-color: orange;
    border: -1px solid #ddd;
  }
  #p1 {
    margin-top: 76px;
    font-size: 19px;
    margin-left: 65px;
  }
  #img8 {
    max-width: 300px;
  }
  #img-4 {
    height: 20px;
    position: absolute;
    top: 322px;
    left: 53px;
  }
  #a-1 {
    font-weight: 300;
  }
  #img-3 {
    height: 50px;
    position: absolute;
    top: 284px;
    left: 23px;
  }
  #btn2,
  #btn3 {
    font-family: "ID Grotesk";
    background-color: orange;
    border-radius: 12px;
    padding: 5px;
    border: none;
  }
  .btn-flex {
    display: flex;
    justify-content: space-around;
  }
  #section1 {
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
  }
  #section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #closeIcon{
    color: white;
    height: 26px;
    position: absolute;
    right: 40px;
    top: 12px;
  }
  footer {
    background-color: black;
    position: absolute;
    width: 320px;
    right: 33px;
  }
  #ahref{
    color: white;
  }
  p{
    font-weight: 200;
  }
  footer{
    display: flex;
  }
}



@media screen and (max-width: 360px){
  .header {
    padding: 22px;
    text-align: center;
  }
  #img-1 {
    position: absolute;
    top: 25px;
    height: 20px;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .main{
    display: flex;
  }
  #p1{
    margin-top: 96px;
    font-size: 19px;
    margin-left: 65px;
  }
  #h1-1{
    font-size: 21px;
    text-align: center;
    margin-top: 66px;
    font-weight: 300;
  }
  #img-4{
    position: absolute;
    height: 23px;
    top: 294px;
    left: 50px;
  }
  .btn-flex{
    display: flex;
    justify-content: space-around;
  }
  #section1{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
  }
  
  #closeIcon{
    color: white;
    height: 26px;
    position: absolute;
    right: 40px;
    top: 12px;
  }
  
  #menuIcon {
    height: 27px;
  }
  #menuList {
    background-color: rgb(2, 16, 55);
    color: white;
    position: absolute;
    top: -2px;
    margin-top: 0;
    left: 0;
    width: 360px;
    height: 255px;
    padding-right: 45px;
  }
  ul,
  li {
    list-style: none;
    color: white;
  }
  #aa {
    color: white;
    margin-left: -33px;
    font-weight: 200;
  }
  #img-3{
    height: 50px;
    position: absolute;
    top: 254px;
    left: 23px;
  }
  #img8{
    width: 350px;
  }
  #btn-1{
    font-family: "ID Grotesk";
    background-color: orange;
    border: -1px solid #ddd;
  }
  #h{
    text-align: center;
  }
  #img-1 {
    position: absolute;
    top: 18px;
  }
  #menuIcon {
    height: 25px;
  }
  #menuList {
    background-color: rgb(2, 16, 55);
    color: white;
    position: absolute;
    top: -1px;
    margin-top: 0;
    left: 0;
    width: 275px;
    height: 235px;
  }
  ul,
  li {
    list-style: none;
    color: white;
  }
  #aa {
    color: white;
    margin-left: -27px;
    font-weight: 200;
  }
}